﻿<div ng-controller="exRatesController">

    <form role="form" name="exRatesForm" novalidate angular-validator angular-validator-submit="onSearchExRates(exRatesForm)">
        <br />
        <div class="alert alert-danger" ng-show="message.length > 0">
            <strong>Error!</strong> {{message}}
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label>Select or enter the date:</label>               
            </div>
            <br />
            <div class="col-sm-4">

                <div class="input-group">
                    <input type="text" name="txtDate"                            
                           invalid-message="'Entered date is not valid. Format for the date should be \'yyyy/MM/dd\''"
                           required-message="'Please enter or a select date!'"
                           class="form-control" 
                           uib-datepicker-popup="{{format}}" 
                           ng-model="dt" 
                           ng-change="onDateChanged()"
                           is-open="datepicker.opened" 
                           datepicker-options="dateOptions" 
                           show-button-bar="false" 
                           required />
                    <span class="input-group-btn" style="vertical-align:top;">
                        <button type="button" class="btn btn-default" ng-click="onDatePickerOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-default">Search</button>
            </div>

            <div class="col-sm-12">
                <p class="form-text text-muted">
                    You can only use dates up to <strong>31st December, 2014</strong>.
                </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-5">
                <label ng-show="exRates.length > 0">List of changes for currency rates on {{ dt | date : 'yyyy/MM/dd' }}:</label>
                <p ng-show="isFormSubmitted && noExRates && dt != null">No exchange rates were found on {{ dt | date : 'yyyy/MM/dd' }}.</p>
                <table class="table table-bordered" ng-show="exRates.length > 0">
                    <tr>
                        <th class="col-xs-2">
                            Currency
                        </th>
                        <th class="col-xs-1">
                            Rate
                        </th>
                        <th class="col-sm-2">
                            Change
                        </th>
                        <th class="col-xs-1">
                            % Change
                        </th>
                    </tr>
                    <tr ng-repeat="item in exRates">
                        <td>
                            {{item.Currency}}
                        </td>
                        <td>
                            {{item.CurrentRate}}
                        </td>
                        <td>
                            <span ng-show="item.Change > 0" class="glyphicon glyphicon-arrow-up" style="width:50%;height:50%;color:green;"></span>
                            <span ng-show="item.Change < 0" class="glyphicon glyphicon-arrow-down" style="width:50%;height:50%;color:red;"></span>
                            <span ng-show="item.Change == 0" class="glyphicon glyphicon-stop" style="width:50%;height:50%;"></span>
                            {{item.Change | number : 4 }}
                        </td>
                        <td>
                            {{item.ChangePct | number : 4 }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <br />
    </form>
</div>
